body {
	background:#fff;
	color: #000;
	background:none;
}

#header, #headerimg, #rightcolumn, .footer1, .noprint, .navigation, #respond, .addtoany_list, .a2a_kit.addtoany_list, #nbtDiv, .no-print {
	display: none !important;
}

#container, #leftcolumn, #content {
	width: 100%; 
	margin: 0; 
	float: none;
}

a:link, a:visited, p, h1, h2, h3, h4, h5, h6 {color: #000;}

a:link, a:visited, p {
	font-size: 12px;
}