/* Custom Login Styles */

@bg-image: #000000 url(images/bg.jpg) no-repeat top center;
 
html {
  background: @bg-image;
  background-attachment:fixed;
}

body {
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #a9a8aa;
  font-size: 12px;
  padding-top:100px;
  height:100%;
}
div.login {
height:100%;
}
form {
background:#000;
color:#fff;
}
.login #nav a, a:link {
color: #f8981c !important;
text-shadow: none;
}
.login #nav a:hover {
color: #fff !important;
text-shadow: none;
}
h1 a { background-image:url(images/logo-login.png) !important; }

form {
-webkit-box-shadow: #000 0px 4px 18px;
-moz-box-shadow:rgba(0,0,0,1) 0 4px 18px;
-webkit-box-shadow:rgba(0,0,0,1) 0 4px 18px;
-khtml-box-shadow:rgba(0,0,0,1) 0 4px 18px;
box-shadow:rgba(0,0,0,1) 0 4px 18px;
background: #000;
color:#fff;
border: 1px solid #444;
}

label {
color: #999;
font-size: 13px;
}

input.button-primary, button.button-primary, a.button-primary,
input.button-primary:active, button.button-primary:active, a.button-primary:active {
background: #333;
border-color: #444;
color: #f8981c;
font-weight: bold;
text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 0px;
}

input.button-primary:hover, button.button-primary:hover, a.button-primary:hover, a.button-primary:focus, a.button-primary:active {
background: #333;
border-color: #444;
color: #fff;
}