/*
Theme Name: Generations Church Custom Theme
Theme URI: http://generationschurch.com
Description: a custom WordPress theme designed for Generations Church.
Version: 1.0
Author: Justin Sternberg
Author URI: http://thedesignworks.net

*/

@bg-image: #000000 url(images/bg.jpg) no-repeat top center;
@orange: #f8981c;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: @bg-image;
  background-attachment:fixed;
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #a9a8aa;
  font-size: 12px;
  padding-bottom:25px;
}

a {
  color: @orange;
  text-decoration: none;
}

a.bodylink {
color: #fff;
}

a.u {
text-decoration:underline;
}

#rightcolumn .staff a {
display:block;
	padding-bottom:3px;
	padding-top: 3px;
	padding-left:6px;
	overflow:hidden;
}


#rightcolumn .staff a:before {
	content:"| ";
}


a.bodylink:hover {
color: @orange;
}

p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom:15px;
}

.postmetadata {
  line-height: 20px;
  margin-top:-5px;
}

.postmetadata p {
  margin-bottom:0px;
}

#respond {
 line-height: 20px;
 margin-top: 10px;
 clear:both
}

.entry {
  line-height: 22px;
	margin-top: 10px;
	padding-left:10px;
}

.entry img {
float:left;
display:inline;
padding:0px;
margin-top: 0px;
margin:0px;
margin-right: 10px;
	margin-bottom: 10px;
 border-style:solid;
 border-width: 8px;
 border-color:#363636;
}


.postmetadata {
	padding-top: 10px;
}

#top {
margin-bottom:0px;
}

small {
  line-height: 15px;
  font-size: .8em;
}

p.links {
  font-size: 16px;
}

h1 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 100;
	margin-bottom:6px;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 100;
}



h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 100;
}

h4 {
	font-size: 14px;
}

.alignleft {
float:left;
display:inline;
text-transform:uppercase;
font-size:1.2em;
padding-top:20px;
padding-bottom:10px;
}

.alignright {
float:right;
display:inline;
text-transform:uppercase;
font-size:1.2em;
padding-top:20px;
padding-bottom:10px;
padding-right:10px;
}

img.aligncenter {
	display:block;
	float:none;
	text-align:center;
	margin:inherit auto;
}

img.alignleft {
float:left;
display:inline;
padding:0px;
margin-top: 0px;
margin:0px;
margin-right: 10px;
	margin-bottom: 10px;
 border-style:solid;
 border-width: 8px;
 border-color:#363636;
 float:left;

}

img.alignright {
float:right;
display:inline;
padding:0px;
	margin-bottom: 10px;
 border-style:solid;
 border-width: 8px;
 border-color:#363636;

}

img {
  border: 0;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.clear {
	clear:both;
}

#container {
  width: 960px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#content {
	width: 940px;
	margin: 0 auto;
	margin-top: 0px;
	background-color:#000000;
	background:transparent url(images/transpbg.png);
	clear:both;
}

div.gallery img {
border: 5px solid #111;
}

#leftcolumn {
	width: 725px;
	margin-left:20px;
	margin-right:18px;
	float:left;
	color:#e4e6e7;
  font-size: 14px;
}

#leftcolumn h2, #centercolumn h2 {
	margin-top: 10px;
	
}

#leftcolumn h2.posts, #centercolumn h2.posts {
	clear:both;
}

img.wp-post-image {
	margin-bottom: 10px;
	margin-right:10px;
 border-style:solid;
 border-width: 8px;
 border-color:#363636;
 float:left;
}

.sermonaudio h2 {
display:block;
clear:left;
	padding-top: 40px;

}

hr {
	border-color:#222;
	margin:0 -8px 0 -8px;
}

.bottomhr {
	margin:-15px -8px 0 -8px;
}


/*
hr {
	margin-top: 20px;
	border-color:#222;
	margin-left:-10px;
	margin-right:-5px;
}

.bottomhr {
	margin-top:-10px;
	margin-bottom:50px;
}
*/

.post h2 {
display:block;
clear:left;
	padding-top: 40px;

}

.staff h2 {
display:block;
clear:left;
	padding-top: 40px;
}

h1.staff {
	margin-bottom: -40px;
}

#leftcolumn p.staff {
	margin-bottom: -20px;
}


#leftcolumn ol img {
margin:0;
border:none;
}

#leftcolumn ul, #centercolumn ul {
  padding-left: 20px;
  margin-bottom:15px;
  list-style-type:none;
list-style-position:inside;
}
#leftcolumn ol, #centercolumn ol {
  padding-left: 40px;
  margin-bottom:15px;
list-style-position:inside;
}

#leftcolumn ul.bullets, #centercolumn ul.bullets {
list-style-type:disc;
list-style-position:inside;
}

#leftcolumn p object, #centercolumn p object {
 border-style:solid;
 border-width: 8px;
 border-color:#363636;
}

#leftcolumn p.audioplayer_container object, #centercolumn p.audioplayer_container object {
 border:none;
 margin: 0;
}

#leftcolumn .podpress_player_object, #centercolumn .podpress_player_object {
	height: 215px;
	width: 200px;
	margin-top: 10px;
 border-style:solid;
 border-width: 8px;
 border-color:#363636;
}

#leftcolumn h1, #centercolumn h1 {
	margin-left:-10px;
	margin-top: 5px;
}

#centercolumn {
	width: 880px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	color:#e4e6e7;
}

#centercolumn h2{
	margin-top: 30px;
}

textarea#comment, #author, #email, #url {
 background-color:#000000;
 background:transparent url(images/transpbg.png);
	border:#363636 solid 1px;
 color:#ffffff;
 font-size: .9em;
}

textarea#comment {
 width: 716px;
 height: 75px;
}



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}

.commentlist li ul li {
	font-size: 1em;
}

.commentlist > li {
	border:#363636 solid 1px;
 background-color:#000000;
 background:transparent url(images/transpbg.png);
}

.commentlist li {
	padding-top:10px;
}

.commentlist ul li {
	border-top:#363636 solid 1px;
}

.commentlist li .avatar { 
	float: left;
	border: 1px solid #eee;
	padding-right: 6px;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

.commentmetadata {
	font-weight: normal;
	}

p.buttons button {
	border:#363636 solid 1px;
text-transform:uppercase; 
background-color:#000000;
 background:transparent url(images/transpbg.png);
color:#fff; 
width:75px; 
padding:6px; 
cursor:pointer; 
}

label.buttons button {
	border:#363636 solid 1px;
text-transform:uppercase; 
background-color:#000000;
 background:transparent url(images/transpbg.png);
color:#fff; 
width:70px; 
padding:4px; 
margin-top: 6px;
margin-left:40px;
margin-bottom:5px;
cursor:pointer; 
}


/* End Comments */



#rightcolumn {
	width: 170px;
	padding-right:5px;
	float:right;
	color:#e4e6e7;
}

#rightcolumn ul.twitter > li {
	padding-bottom:6px;
	padding-top: 6px;
	border-bottom: 1px @orange solid;
}

#rightcolumn ul.twitter > li:before {
	content:" ";
}

#rightcolumn h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 100;
	margin: 5px 0 0;
	padding: 0;
}

#rightcolumn h2.staff {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 100;
	margin: 5px 0 0;
	padding: 0;
}

/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */


#rightcolumn {
	float:right;
}
#rightcolumn li:before {
	content: "| ";
	}

#rightcolumn li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#rightcolumn li p {
	margin: 5px 0 8px;
	}

.textwidget {
	margin: 5px 0 0 10px;
}

#rightcolumn li {
	margin: 5px 0 0 10px;
	}

#rightcolumn li {
	margin: 0 0 0 10px;
	}

#rightcolumn li {
	list-style: decimal outside;
	}


#rightcolumn ul ul li:before {
	content: "| ";
	}


.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#rightcolumn ul, #rightcolumn ul ol {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	}

#rightcolumn ul li {
	list-style-type: none;
	list-style-image: none;
	}

#rightcolumn ul p, #rightcolumn ul select {
	margin: 5px 0 8px;
	}

#rightcolumn ul ul, #rightcolumn ul ol {
	margin: 5px 0 0 10px;
	}

#rightcolumn ul ul ul, #rightcolumn ul ol {
	margin: 0 0 0 10px;
	}

ol li, #rightcolumn ul ol li {
	list-style: decimal outside;
	}

#rightcolumn ul ul li, #rightcolumn ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */

/* Header */

#header {
  width: 960px;
  height: 44px;
  margin: 0 auto;
}

#topNav {
	width:760px;
	position:relative;
	float:right;
  height: 21px;
}

#menu-top-nav {
  clear:both;
	padding: 11px 10px 0px 10px;
  float:left;
  width: 485PX;
  height: 21px;
top: 8px;  color:#d7d7d7;
  text-align:right;
}

#menu-top-nav li:before {
	content: " | ";
}
#menu-top-nav li:first-child:before {
	content: " ";
}
#menu-top-nav li {
  list-style-type: none;
  display:inline; 
}

.current-post-ancestor a, .current-menu-parent a, .current-post-parent a, .current-page a, current-page-parent a,
.current-menu-item a, .current_page_item a {
	color:#fff;
}

.logotext {
  text-indent: -9999px;
  float: left;
}

.logotext a {
  display: block;
  background: url(images/smlogo.png) no-repeat left top;
  float: left;
  height: 34px;
  width: 187px;
  margin-left: 9px;
}
 
#logo {
  height: 34px;
  width: 187px;
  float: left;
  }
  
.logotext2 {
  text-indent: -9999px;
  float: left;
}

.logotext2 a {
  display: block;
  background: url(images/smlogo.png) no-repeat left top;
  height: 34px;
  width: 187px;
margin:auto;
}
 
#logo2 {
  height: 34px;
  width: 187px;
margin:auto;
padding-top:35px;
padding-bottom:35px;  }
  
  
/* navbox */

.SMheaderimg {
  background-image:url(images/headers/SM.png);
}

.Troyheaderimg {
  background-image:url(images/headers/Troy.png);
}

.FMheaderimg {
  background-image:url(images/headers/FM.png);
}

.CRheaderimg {
  background-image:url(images/headers/CR.png);
}

.SGheaderimg {
  background-image:url(images/headers/SG.png);
}

.altheaderimg {
  background-image:url(images/headers/sermon_series.png);
}

#headerimg {
  width: 957px;
  height: 237px;
  margin: 0 auto;
  padding-top: 10px;
  background-repeat:no-repeat;
}


#navbox {
  width: 941px;
  height: 45px;
  margin: 0 auto;
  margin-top: 185px;
  background-image:url(images/transpheaderimg.png);
  background-repeat:no-repeat;
}

/* Navigation */

#navleft {
	width: 140px;
	height: 45px;
	position:relative;
	float:left;
	margin-top: 2px;
	margin-left: 3px;
}

#navleft a {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 23px;
	line-height: 18px;
	color: #D1D3D4;
}

#navleft a:hover {
  color: @orange;
}

img.navleft {
  margin: 3px;
  float: left; 
  border: 0;
}

#navcenter {
	height: 45px;
	width: 647px;
	position:relative;
	float:left;
	margin-top:3px;
	margin-right:5px;
	margin-left:5px;
}

.navleft2 {
	height: 45px;
	width: 740px;
	position:relative;
	float:left;
	margin-top:3px;
	margin-right:5px;
	margin-left:5px;
}

#navleft2links {
  position:absolute;
  bottom:7px;
  line-height: 18px;
  font-size:16px;
}

#navleft2links ul li:before {
	content: " | ";
}

.navlinks3 li {
  list-style-type: none;
  display:inline; 
}

.navlinks2 li {
  list-style-type: none;
  display:inline; 
}

#navright {
  width: 140PX;
	height: 45px;
  position: relative;
	top: 0px;
  float: right;
}


.navigation_alt {
	list-style: none;
	padding-left: 3px;
	padding-top: 4px;

}

ul.navigation_alt li {
  width: 13em;
  float: left;
  margin: auto
}

img.nav_alt {
  margin: 3px;
  float: left; 
  border: 0;
  margin-top: 1px;
}

.navigation_alt a {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 23px;
	line-height: 14px;
	color: #D1D3D4;
  margin-right: 10px;
}

.navlinks li {
  list-style-type: none;
  margin-bottom: 27px;
  
}

.navlinks li a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 23px;
  line-height: 18px
}

img.floatLeft { 
  float: left; 
  margin: 5px 3px 5px 3px;
  border: 0;
}

/* searchbar */


div.searchbar {
  width: 255px;
  height: 21px;
  position: relative;
  top: 8px;
  float: right;
  background: url(images/searchpic.png) no-repeat;
  padding-top: 3px;
}

div.searchbar2 {
  width: 202px;
  height: 21px;
  position: relative;
  float: left;
  background: url(images/searchpic2.png) no-repeat;
  padding-top: 3px;
}


#sitemap {
  width: 68px;
  position: relative;
  float:left;
  color:#d7d7d7;
}

#sitemap a {
  color: #ffffff;
  padding-left: 4px;
}

a.sitemap:hover {
  color: @orange;
}

.form {
	width: 187px;
	height: 21px;
	position: relative;
	float: right;
}

.form form {
	margin: 0px;
	
}

.form fieldset {
	margin: 0px;
	padding: 0px;
	border: none;

}

.form input.text {
	width: 171px;
	background: none;
	border: none;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.form input.button {
}

/* Footer */

.footer1 {
  clear:both;
  width: 960px;
  padding-top:55px;
  padding-bottom:0px;
  margin: 0 auto;
  color:#d7d7d7;
  text-align:center;
}

div.footer1 img {
  vertical-align:top;
  height:15px;
}

.footer2 {
  clear:both;
  margin-top:-3px;
  float:left;
  width: 480px;
  color:#d7d7d7;
  text-align:center;
}

.footer2 li:before {
	content: " | ";
}
.footer2 li.first:before {
	content: " ";
}
.footer2 li {
  list-style-type: none;
  display:inline; 
}

.footer3 {
  width: 480px;
  position:relative;
  margin-top:-3px;
  float:right;
  text-align:center;
}

.footer4 {
  clear:both;
  width: 960px;
  padding-top:10px;
  margin: 0 auto;
  padding-bottom:10px;
  color:#d7d7d7;
  text-align:center;
  font-size:0.9em;
}

.footer4 a {
color:inherit;
}       
.footer4 a:hover {
color: @orange;
}       

/* Custom Styles (plugins, theme, etc) */

.fb_share_size_Small {
	margin: 0 5px 12px 5px;
}

.vimeostyle {
border-style:solid; border-width: 8px; border-color:#363636;
}

#wp_email_capture input.wp-email-capture-name, input.wp-email-capture-email {
 background-color:#000000;
 background:transparent url(images/transpbg.png);
	border:#363636 solid 1px;
 color:#ffffff;
 font-size: .9em;
 float:right;
 margin-top:5px; 
 overflow:hidden;
}
#wp_email_capture label.wp-email-capture-name, label.wp-email-capture-email {
 float:left;
 padding-top:5px;
}

.survey form label {
padding-top:3px;
display:block;
}

.entry .gc_excerpt .podPress_content {
	display:none;
	visibility:hidden;
}

.addtoany_list {
display: block !important;
clear: both !important;
padding: 10px 0 !important;
}