/* CSS Document */

a {
  color: #D1D3D4;
}

a:hover {
  color: #f8981c;
}

#container {
 margin-top: 13px;
}

#content {
  width: 960px;
  height: 575px;
  margin-top:13px;
  background-color:transparent;
  background-image:none;
}

/* Header */

.logotext a {
  background: url(images/logo.png) no-repeat left top;
  height: 44px;
  width: 239px;
  margin-left: 0px;
}
 
#logo {
  height: 44px;
  width: 239px;
  }
  

/* Navigation */

#navright {
  height: 246px;
  top: 128px;
  width: 160px;
  left: 20px;
}

img.floatLeft { 
  margin: 5px 3px 0px 0;
}

.worship a {
	color: #000000;
}


/* ---------- Featured ---------- */


#feature_wrapper {
	width: 814px;
	height: 550px;
	position: absolute;
	margin-top: 0px;
  background-image:url(images/transpframe.png);
  background-repeat:no-repeat;
	float:left;
	padding-left:9px;
	line-height: 16px;
	padding-top: 9px;
}
.featuretitle {
	margin: 0;	
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}
.weekend {
position:absolute;
right:5px;
top:5px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	text-align:right;
	color:#000;
}


#feature_list {
	width: 814px;
	height: 550px;
	overflow: hidden;
	position: relative;
}
#feature_list ul {
	position: absolute;
	top: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

#tabs {
	left: 0px;
	bottom:0px;
	z-index: 1;
}

#tabs ul {
display:inline;
}



#tabs li {
	font-size: 12px;
	/*text-indent: -9999px;*/
	position:relative;
	float:left;
	top:453px;
	width: 265px;
	height: 78px;
}


#tabs li a {
	color: #FFFFFF;
	text-decoration: none;	
	display: block;
	height: 78px; 
	outline: none;
	padding:5px;
}


#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}
#output {
	left: 0;
	width: 796px;
	height: 453px;
	position: relative;
	z-index:2;
}
#output li {
position:absolute;
	margin:auto;
	width: 796px;
	height: 453px;
    background-image:url(images/divideline.jpg);
    background-repeat:no-repeat;
	background-position:bottom;
}

#fmoutput {
	left: 0;
	width: 796px;
	height: 453px;
	float:left;
}

#sgoutput {
	left: 0;
	width: 796px;
	height: 453px;
	float:left;
}

#croutput {
	left: 0;
	width: 796px;
	height: 453px;
	float:left;
}

#woutput {
	left: 0;
	width: 796px;
	height: 453px;
	float:left;
}



/* ---------- END Featured ---------- */

/* Footer */

#links {
  width: 960px;
  margin: 0 auto;
  margin-top:-15px;
  margin-bottom:20px;
  clear:both;
}

p.footer {
  font-size:0.9em;
}

#footerleft {
  width: 440px;
  height:25px;
  float:left;
  color:#d7d7d7;
}

.footer a {
text-decoration:underline;
}


#footerleft img {
  vertical-align:top;
}

#footerright {
  width: 520px;
  height:25px;
  float:right;
  text-align:right;
  color:#d7d7d7;
}

#footerright img {
  vertical-align:top;
}
