/* Custom Login Styles */
html {
  background: #000000 url(images/bg.jpg) repeat-y top center;
}
body.login {
  background: #000000 url(images/bg.jpg) no-repeat top center !important;
  background-attachment: fixed;
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #a9a8aa;
  font-size: 12px;
  height: 100%;
  top: 0;
}
#login {
  padding-top: 200px;
}
.login #nav a, a:link, .login #backtoblog a {
  color: #f8981c !important;
  text-shadow: none;
}
.login #nav a:hover, .login #backtoblog a:hover {
  color: #fff !important;
  text-shadow: none;
}
body.login h1 a {
  background-image: url(images/logo-login.png);
  background-size: auto;
  width: 310px;
  height: 70px;
}
#loginform {
  -webkit-box-shadow: #000 0px 4px 18px;
  -moz-box-shadow: #000000 0 4px 18px;
  -webkit-box-shadow: #000000 0 4px 18px;
  -khtml-box-shadow: #000000 0 4px 18px;
  box-shadow: #000000 0 4px 18px;
  background: #000;
  color: #fff;
  border: 1px solid #444;
}
label {
  color: #999;
  font-size: 13px;
}
input.button-primary,
button.button-primary,
a.button-primary,
input.button-primary:active,
button.button-primary:active,
a.button-primary:active {
  background: #333;
  border-color: #444;
  color: #f8981c;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 0px;
}
input.button-primary:hover,
button.button-primary:hover,
a.button-primary:hover,
a.button-primary:focus,
a.button-primary:active {
  background: #333;
  border-color: #444;
  color: #fff;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 959px) {
  #login {
    padding-top: 10px;
  }

}
