html {
  background: #000000 url(images/bg.jpg) no-repeat top center;
  background-attachment: fixed;
}
html .mceContentBody {
  width: 725px;
  padding: 20px 30px 20px 30px;
  margin: 0 auto;
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #E4E6E7;
  font-size: 14px;
  line-height: 22px;
}
a {
  color: #f8981c;
  text-decoration: none;
}
a.bodylink {
  color: #fff;
}
p {
  font-size: 14px;
  margin-bottom: 15px;
}
img {
  float: left;
  display: inline;
  padding: 0px;
  margin-top: 0px;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
  border: 0;
}
small {
  line-height: 15px;
  font-size: 1em;
}
p.links {
  font-size: 16px;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 6px;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
}
h4 {
  font-size: 14px;
}
.alignleft {
  float: left;
  display: inline;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.alignright {
  float: right;
  display: inline;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}
img.alignleft {
  float: left;
  display: inline;
  padding: 0px;
  margin-top: 0px;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
  float: left;
}
img.alignright {
  float: right;
  display: inline;
  padding: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
ul {
  margin-bottom: 15px;
  list-style-type: none;
}
ul.bullets {
  list-style-type: disc;
}
