/*
Theme Name: Generations Church Custom Theme
Theme URI: http://generationschurch.com
Description: a custom WordPress theme designed for Generations Church.
Version: 1.0.1
Author: Justin Sternberg
Author URI: http://dsgnwrks.pro

*/
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #000000 url(images/bg.jpg) no-repeat top center;
  background-attachment: fixed;
  font-family: Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #a9a8aa;
  font-size: 12px;
  padding-bottom: 25px;
}
a {
  color: #f8981c;
  text-decoration: none;
}
a.bodylink {
  color: #fff;
}
a.u {
  text-decoration: underline;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  background: rgba(0,0,0,.4);
  border-bottom: 1px solid #363636;
  margin-bottom: 20px;
}
form {
  margin-bottom: 20px;
}
th,
td {
  padding: 10px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #363636;
}
th {
  font-weight: bold;
}
thead th {
  vertical-align: bottom;
}
blockquote {
  margin: 0 1.5em;
}


#rightcolumn .staff > a {
  display: block;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 6px;
  overflow: hidden;
}
#rightcolumn .staff > a:before {
  content: "| ";
}
a.bodylink:hover {
  color: #f8981c;
}
p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 15px;
}
.postmetadata {
  line-height: 20px;
  margin-top: -5px;
}
.postmetadata p {
  margin-bottom: 0px;
}
#respond {
  line-height: 20px;
  margin-top: 10px;
  clear: both;
}
.entry {
  line-height: 22px;
  margin-top: 10px;
  padding-left: 10px;
}
.entry img {
  float: left;
  display: inline;
  padding: 0px;
  margin-top: 0px;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
}
.postmetadata {
  padding-top: 10px;
}
#top {
  margin-bottom: 0px;
}
small {
  line-height: 15px;
  font-size: .8em;
}
.links ul, .links ul li a {
  font-size: 17px;
}
.links ul li:after {
  content: ' // ';
}
.links ul li:last-child:after {
  content: '';
}
.links ul li {
  list-style-type: none;
  display: inline;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 6px;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
}
h4 {
  font-size: 14px;
}
.alignleft {
  float: left;
  display: inline;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.alignright {
  float: right;
  display: inline;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}
img.aligncenter {
  display: block;
  float: none;
  text-align: center;
  margin: 0 auto;
}
img.alignleft {
  float: left;
  display: inline;
  padding: 0px;
  margin-top: 0px;
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
  float: left;
}
img.alignright {
  float: right;
  display: inline;
  padding: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
}
img {
  border: 0;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
.clear {
  clear: both;
}
#container {
  width: 960px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
#content {
  width: 940px;
  margin: 0 auto;
  margin-top: 0px;
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  clear: both;
}
div.gallery img {
  border: 5px solid #111;
}
#leftcolumn {
  width: 725px;
  margin-left: 20px;
  margin-right: 18px;
  float: left;
  color: #e4e6e7;
  font-size: 14px;
}
#leftcolumn h2, #centercolumn h2 {
  margin-top: 10px;
}
#leftcolumn h2.posts, #centercolumn h2.posts {
  clear: both;
}
img.wp-post-image {
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
  float: left;
}
.sermonaudio h2 {
  display: block;
  clear: left;
  padding-top: 40px;
}
hr {
  border-color: #222;
  margin: 0 -8px 0 -8px;
}
.bottomhr {
  margin: -15px -8px 0 -8px;
}
/*
hr {
	margin-top: 20px;
	border-color:#222;
	margin-left:-10px;
	margin-right:-5px;
}

.bottomhr {
	margin-top:-10px;
	margin-bottom:50px;
}
*/
.post h2 {
  display: block;
  clear: left;
  padding-top: 40px;
}
.staff h2 {
  display: block;
  clear: left;
  padding-top: 40px;
}
h1.staff {
  margin-bottom: -40px;
}
#leftcolumn p.staff {
  margin-bottom: -20px;
}
#leftcolumn ol img {
  margin: 0;
  border: none;
}
#leftcolumn ul, #centercolumn ul {
  padding-left: 20px;
  margin-bottom: 15px;
  list-style-type: none;
  list-style-position: inside;
}
#leftcolumn form ul {
  padding: 0;
}
#leftcolumn ol, #centercolumn ol {
  padding-left: 40px;
  margin-bottom: 15px;
  list-style-position: inside;
  clear: left;
}
.entry li {
  margin: .2em 0;
}
#leftcolumn li ol, #centercolumn li ol, #leftcolumn li ul, #centercolumn li ul {
  margin-bottom: 0;
}
#leftcolumn ul.bullets, #centercolumn ul.bullets {
  list-style-type: disc;
  list-style-position: inside;
}
#leftcolumn p object, #centercolumn p object {
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
}
#leftcolumn p.audioplayer_container object, #centercolumn p.audioplayer_container object {
  border: none;
  margin: 0;
}
#leftcolumn .podpress_player_object, #centercolumn .podpress_player_object {
  height: 215px;
  width: 200px;
  margin-top: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
}
#leftcolumn h1, #centercolumn h1 {
  margin-left: -10px;
  margin-top: 5px;
}
#centercolumn {
  width: 880px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  color: #e4e6e7;
}
#centercolumn h2 {
  margin-top: 30px;
}
textarea,
#author,
#email,
#url, #leftcolumn textarea, #leftcolumn input {
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  border: #363636 solid 1px;
  color: #ffffff;
  font-size: .9em;
  padding: 10px;
}
#leftcolumn .s, #leftcolumn #s, #leftcolumn .cat_button {
  background: none;
  border: none;
  color: #000;
  padding: 0;
}
#leftcolumn .s, #leftcolumn #s {
  padding: 0 0 0 5px;
  width: 166px;
}
textarea#comment {
  width: 716px;
  height: 75px;
}
/* Begin Comments*/
.alt {
  margin: 0;
  padding: 10px;
}
.commentlist {
  padding: 0;
}
.commentlist li {
  margin: 15px 0 10px;
  padding: 5px 5px 10px 10px;
  list-style: none;
}
.commentlist li ul li {
  margin-right: -5px;
  margin-left: 10px;
}
.commentlist p {
  margin: 10px 5px 10px 0;
}
.children {
  padding: 0;
}
#commentform p {
  margin: 5px 0;
}
.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}
.commentmetadata {
  margin: 0;
  display: block;
}
.commentlist li ul li {
  font-size: 1em;
}
.commentlist > li {
  border: #363636 solid 1px;
  background-color: #000000;
  background: transparent url(images/transpbg.png);
}
.commentlist li {
  padding-top: 10px;
}
.commentlist ul li {
  border-top: #363636 solid 1px;
}
.commentlist li .avatar {
  float: left;
  border: 1px solid #eee;
  padding-right: 6px;
}
.commentlist cite, .commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}
.commentlist p {
  font-weight: normal;
  line-height: 1.5em;
  text-transform: none;
}
.commentmetadata {
  font-weight: normal;
}
p.buttons button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
  border: #363636 solid 1px;
  text-transform: uppercase;
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  color: #fff;
  width: 75px;
  padding: 6px;
  cursor: pointer;
}
label.buttons button {
  border: #363636 solid 1px;
  text-transform: uppercase;
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  color: #fff;
  width: 70px;
  padding: 4px;
  margin-top: 6px;
  margin-left: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}
/* End Comments */
#rightcolumn {
  width: 170px;
  padding-right: 5px;
  float: right;
  color: #e4e6e7;
}
#rightcolumn ul.twitter > li {
  padding-bottom: 6px;
  padding-top: 6px;
  border-bottom: 1px #f8981c solid;
  font-weight: normal;
}
#rightcolumn ul.twitter > li:before {
  content: " ";
}
#rightcolumn h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  margin: 5px 0 0;
  padding: 0;
}
#rightcolumn h2.staff {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  margin: 5px 0 0;
  padding: 0;
}
/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */
#rightcolumn {
  float: right;
}
#rightcolumn li:before {
  content: "| ";
}
#rightcolumn li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 15px;
}
#rightcolumn li p {
  margin: 5px 0 8px;
}
.textwidget {
  margin: 5px 0 0 10px;
}
#rightcolumn li {
  margin: 5px 0 0 10px;
}
#rightcolumn li {
  margin: 0 0 0 10px;
}
#rightcolumn li {
  list-style: decimal outside;
}
#rightcolumn ul ul li:before {
  content: "| ";
}
.postmetadata ul, .postmetadata li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
}
#rightcolumn ul, #rightcolumn ul ol {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
#rightcolumn ul li {
  list-style-type: none;
  list-style-image: none;
}
#rightcolumn ul p, #rightcolumn ul select {
  margin: 5px 0 8px;
}
#rightcolumn ul ul, #rightcolumn ul ol {
  margin: 5px 0 0 10px;
}
#rightcolumn ul ul ul, #rightcolumn ul ol {
  margin: 0 0 0 10px;
}
ol li, #rightcolumn ul ol li {
  list-style: decimal outside;
}
ol ul li, ul li {
  list-style-type: square;
}
ol ul li {
  list-style-type: square !important;
}
#rightcolumn ul ul li, #rightcolumn ul ol li {
  margin: 3px 0 0;
  padding: 0;
}
/* End Entry Lists */
/* Header */
#header {
  width: 960px;
  height: 44px;
  margin: 0 auto;
}
#topNav {
  width: 760px;
  position: relative;
  float: right;
  height: 21px;
}
#menu-top-nav {
  clear: both;
  padding: 11px 10px 0px 10px;
  float: left;
  width: 485px;
  height: 21px;
  top: 8px;
  color: #d7d7d7;
  text-align: right;
}
#menu-top-nav li:before {
  content: " | ";
}
#menu-top-nav li:first-child:before {
  content: " ";
}
#menu-top-nav li {
  list-style-type: none;
  display: inline;
}
.current-post-ancestor a,
.current-menu-parent a,
.current-post-parent a,
.current-page a,
current-page-parent a,
.current-menu-item a,
.current_page_item a {
  color: #fff;
}
.logotext {
  text-indent: -9999px;
  float: left;
}
.logotext a {
  display: block;
  background: url(images/smlogo.png) no-repeat left top;
  float: left;
  height: 34px;
  width: 187px;
  margin-left: 9px;
}
#logo {
  height: 34px;
  width: 187px;
  float: left;
}
.logotext2 {
  text-indent: -9999px;
  float: left;
}
.logotext2 a {
  display: block;
  background: url(images/smlogo.png) no-repeat left top;
  height: 34px;
  width: 187px;
  margin: auto;
}
#logo2 {
  height: 34px;
  width: 187px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}
/* navbox */
.SMheaderimg {
  background-image: url(images/headers/SM.png);
}
.Troyheaderimg {
  background-image: url(images/headers/Troy.png);
}
.FMheaderimg {
  background-image: url(images/headers/FM.png);
}
.CRheaderimg {
  background-image: url(images/headers/CR.png);
}
.Mheaderimg {
  background-image: url(images/headers/MO.png);
}
.SGheaderimg {
  background-image: url(images/headers/SG.png);
}
.altheaderimg {
  background-image: url(images/headers/sermon_series.png);
}
#headerimg {
  width: 957px;
  height: 237px;
  margin: 0 auto;
  padding-top: 10px;
  background-repeat: no-repeat;
}
#navbox {
  width: 941px;
  height: 45px;
  margin: 0 auto;
  margin-top: 185px;
  background-image: url(images/transpheaderimg.png);
  background-repeat: no-repeat;
}
/* Navigation */
#navleft {
  width: 140px;
  height: 45px;
  position: relative;
  float: left;
  margin-top: 2px;
  margin-left: 3px;
  -webkit-text-size-adjust: 80%;
}
.missions-outreach-body #navleft {
  width: 150px;
}
#navleft a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 23px;
  line-height: 18px;
  color: #D1D3D4;
}
#navleft a:hover {
  color: #f8981c;
}
img.navleft {
  margin: 3px;
  float: left;
  border: 0;
}
#navcenter {
  height: 45px;
  width: 647px;
  position: relative;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
.missions-outreach-body #navcenter {
  width: 637px;
}
.navleft2 {
  height: 45px;
  width: 740px;
  position: relative;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
#navleft2links {
  position: absolute;
  bottom: 7px;
  line-height: 18px;
  font-size: 16px;
}
#navleft2links ul li:before {
  content: " | ";
}
#navleft2links ul li:first-child:before {
  content: "";
}
.navlinks3 li {
  list-style-type: none;
  display: inline;
}
.navlinks2 li {
  list-style-type: none;
  display: inline;
}
#navright {
  width: 140PX;
  height: 45px;
  position: relative;
  top: 0px;
  float: right;
}
.navigation_alt {
  list-style: none;
  padding-left: 3px;
  padding-top: 4px;
}
ul.navigation_alt li {
  width: 14em;
  float: left;
  margin: auto;
  list-style-type: none;
}
img.nav_alt {
  margin: 3px;
  float: left;
  border: 0;
  margin-top: 1px;
}
.navigation_alt a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 23px;
  line-height: 14px;
  color: #D1D3D4;
  margin-right: 10px;
}
.navlinks li {
  list-style-type: none;
  margin-bottom: 27px;
}
.navlinks li a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 23px;
  line-height: 18px;
}
img.floatLeft {
  float: left;
  margin: 5px 3px 5px 3px;
  border: 0;
}
/* searchbar */
div.searchbar {
  width: 255px;
  height: 21px;
  position: relative;
  top: 8px;
  float: right;
  background: url(images/searchpic.png) no-repeat;
  padding-top: 3px;
}
div.searchbar2 {
  width: 202px;
  height: 21px;
  position: relative;
  float: left;
  background: url(images/searchpic2.png) no-repeat;
  padding-top: 3px;
}
#sitemap {
  width: 68px;
  position: relative;
  float: left;
  color: #d7d7d7;
}
#sitemap a {
  color: #ffffff;
  padding-left: 4px;
  -webkit-text-size-adjust: 80%;
}
a.sitemap:hover {
  color: #f8981c;
}
.form {
  width: 187px;
  height: 21px;
  position: relative;
  float: right;
}
.form form {
  margin: 0px;
}
.form fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
}
.form input.text {
  width: 171px;
  background: none;
  border: none;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
}
/* Footer */
.footer1 {
  clear: both;
  width: 960px;
  padding-top: 55px;
  padding-bottom: 0px;
  margin: 0 auto;
  color: #d7d7d7;
  text-align: center;
}
div.footer1 img {
  vertical-align: top;
  height: 15px;
}
.footer2 {
  clear: both;
  margin-top: -3px;
  float: left;
  width: 480px;
  color: #d7d7d7;
  text-align: center;
}
.footer2 li:before {
  content: " | ";
}
.footer2 li:first-child:before {
  content: " ";
}
.footer2 li {
  list-style-type: none;
  display: inline;
}
.footer3 {
  width: 480px;
  position: relative;
  margin-top: -3px;
  float: right;
  text-align: center;
}
.footer4 {
  clear: both;
  width: 960px;
  padding-top: 10px;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #d7d7d7;
  text-align: center;
  font-size: 0.9em;
}
.footer4 a {
  color: inherit;
}
.footer4 a:hover {
  color: #f8981c;
}
/* Custom Styles (plugins, theme, etc) */
.fb_share_size_Small {
  margin: 0 5px 12px 5px;
}
.vimeostyle {
  border-style: solid;
  border-width: 8px;
  border-color: #363636;
  margin-bottom: 15px;
}
.vimeostyle p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}
#wp_email_capture input.wp-email-capture-name, input.wp-email-capture-email {
  background-color: #000000;
  background: transparent url(images/transpbg.png);
  border: #363636 solid 1px;
  color: #ffffff;
  font-size: .9em;
  float: right;
  margin-top: 5px;
  overflow: hidden;
}
#wp_email_capture label.wp-email-capture-name, label.wp-email-capture-email {
  float: left;
  padding-top: 5px;
}
.survey form label {
  padding-top: 3px;
  display: block;
}
.entry .gc_excerpt .podPress_content {
  display: none;
  visibility: hidden;
}
.podPress_content {
  clear: both;
}
.addtoany_list {
  display: block !important;
  clear: both !important;
  padding: 10px 0 !important;
}
.ddsg-wrapper div[style] p[style] {
  display: none;
}

.pw_iframe {
  width: 765px;
  margin: 0 auto;
  overflow: hidden;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 959px) {*/
/*@media only screen and (max-width: 959px) {*/

/*  body {
    font-size: 16px;
  }
  #container {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  #sitemap {
    font-size: 12px;
  }
  #topNav {
    width: 100%;
    position: relative;
    float: none;
    height: 21px;
    clear: both;
  }
  div.searchbar {
    width: 255px;
    height: 21px;
    position: absolute;
    top: -23px;
    right: 0;
    background: url(images/searchpic.png) no-repeat;
    padding-top: 3px;
  }
  #menu-top-nav {
    clear: both;
    padding: 12px 0 0 0;
    float: none;
    width: 100%;
    height: 21px;
    color: #D7D7D7;
    text-align: center;
  }
  #headerimg {
    width: 100%;
    height: auto;
    margin: 30px auto 0;
    padding-top: 10px;
    background-repeat: no-repeat;
  }
  .SMheaderimg {
    background-image: url(images/headers/SM.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .altheaderimg {
    background-image: url(images/headers/sermon_series.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #navbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 185px;
    clear: both;
    background: none;
  }
  #navcenter {
    height: 45px;
    width: 100%;
    position: relative;
    float: none;
    clear: both;
    margin: 0;
    text-align: center;
    top: 20px;
  }
  #navleft2links {
    position: relative;
    line-height: 18px;
    font-size: 16px;
  }
  #content {
    width: 100%;
  }
  #leftcolumn, #rightcolumn {
    width: 95%;
    float: none;
    color: #E4E6E7;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  p {
    font-size: 1em;
  }
  #rightcolumn {
  }
  img {
    max-width: 95% !important;
  }
  #leftcolumn h1, #centercolumn h1 {
    margin-left: 0;
  }
  .widget {
    width: 40%;
    float: left;
    margin-right: 10%;
    clear: right;
  }
  .textwidget {
    margin: 5px 0;
  }
  #wp_email_capture input.wp-email-capture-name, input.wp-email-capture-email {
    float: left;
    margin-top: 5px;
    width: 65%;
    margin-left: 2%;
  }
  label.buttons button {
    clear: both;
  }
  .entry p, .entry ul, .entry h1, .entry h2, .entry h3, .entry h4, .entry li {
    clear: both;
  }
  img.wp-post-image {
  }
  .footer1 {
    width: 100%;
    font-size: 16px;
  }
  .footer2 {
    clear: both;
    margin-top: -3px;
    float: none;
    width: 100%;
    color: #D7D7D7;
    text-align: center;
  }
  .footer3 {
    width: 100%;
    position: relative;
    margin-top: 17px;
    float: none;
    text-align: center;
    clear: both;
    display: block;
  }
  .footer4 {
    width: 100%;
    margin: 10px auto;
  }

}
*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {*/
/*@media only screen and (max-width: 600px) {*/


/*  body {
    font-size: 16px;
    overflow: hidden;
  }
  #container {
    max-width: 600px;
    overflow: hidden;
  }
  #header {
    width: 100%;
  }
  #sitemap {
    font-size: 12px;
  }
  #topNav {
    width: 100%;
    position: relative;
    float: none;
    height: 21px;
    clear: both;
  }
  div.searchbar {
    width: 255px;
    height: 21px;
    position: absolute;
    top: -23px;
    right: 0;
    background: url(images/searchpic.png) no-repeat;
    padding-top: 3px;
  }
  #menu-top-nav {
    clear: both;
    padding: 12px 0 0 0;
    float: none;
    width: 100%;
    height: 21px;
    color: #D7D7D7;
    text-align: center;
  }
  #headerimg {
    width: 100%;
    height: auto;
    margin: 30px auto 0;
    padding-top: 10px;
    background-repeat: no-repeat;
  }
  .SMheaderimg {
    background-image: url(images/headers/SM.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .altheaderimg {
    background-image: url(images/headers/sermon_series.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #navbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 185px;
    clear: both;
    background: none;
  }
  #navcenter {
    height: 45px;
    width: 100%;
    position: relative;
    float: none;
    clear: both;
    margin: 0;
    text-align: center;
    top: 20px;
  }
  #navleft2links {
    position: relative;
    line-height: 18px;
    font-size: 16px;
  }
  #content {
    width: 100%;
  }
  #leftcolumn, #rightcolumn {
    width: 95%;
    float: none;
    color: #E4E6E7;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  p {
    font-size: 1em;
  }
  #rightcolumn {
  }
  img {
    max-width: 95% !important;
  }
  #leftcolumn h1, #centercolumn h1 {
    margin-left: 0;
  }
  .widget {
    width: 40%;
    float: left;
    margin-right: 10%;
    clear: right;
  }
  .textwidget {
    margin: 5px 0;
  }
  #wp_email_capture input.wp-email-capture-name, input.wp-email-capture-email {
    float: left;
    margin-top: 5px;
    width: 65%;
    margin-left: 2%;
  }
  label.buttons button {
    clear: both;
  }
  .entry p, .entry ul, .entry h1, .entry h2, .entry h3, .entry h4, .entry li {
    clear: both;
  }
  img.wp-post-image {
  }
  .footer1 {
    width: 100%;
    font-size: 16px;
  }
  .footer2 {
    clear: both;
    margin-top: -3px;
    float: none;
    width: 100%;
    color: #D7D7D7;
    text-align: center;
  }
  .footer3 {
    width: 100%;
    position: relative;
    margin-top: 17px;
    float: none;
    text-align: center;
    clear: both;
    display: block;
  }
  .footer4 {
    width: 100%;
    margin: 10px auto;
  }

}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/*@media only screen and (max-width: 959px) {*/
/*  body {
    font-size: 20px;
  }
  #container {
    width: 960px;
    overflow: hidden;
  }
  #header {
    width: 100%;
    height: auto;
  }
  #logo {
    height: 44px;
    width: 239px;
  }
  .logotext a {
    background: url(images/logo.png) no-repeat left top;
    height: 44px;
    width: 239px;
    margin-left: 0px;
  }
  #topNav {
    width: 100%;
    position: relative;
    float: none;
    height: auto;
    clear: both;
    padding: 10px 0;
  }
  div.searchbar {
    width: auto;
    height: 21px;
    position: absolute;
    top: -29px;
    right: 15px;
    background: none;
    padding-top: 3px;
    font-size: 20px;
  }
  #sitemap {
    width: auto;
    position: relative;
    float: left;
    color: #D7D7D7;
    background: #747474;
    margin-left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2px 16px 3px 10px;
  }
  .form {
    width: 187px;
    height: auto;
    position: relative;
    float: right;
    background: white;
    border-radius: 26px;
    padding: 2px 10px 3px 10px;
    margin-left: -6px;
  }
  .form input.text {
    width: 171px;
    background: none;
    border: none;
    color: black;
    font-size: 16px;
  }
  #menu-top-nav {
    clear: both;
    padding: 16px 0 0 0;
    float: none;
    width: 100%;
    height: 21px;
    color: #D7D7D7;
    text-align: center;
  }
  #headerimg {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
    padding-top: 10px;
    background-repeat: no-repeat;
  }
  .SMheaderimg {
    background-image: url(images/headers/SM.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .FMheaderimg {
    background-image: url(images/headers/FM.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .altheaderimg {
    background-image: url(images/headers/sermon_series.png), url(images/transpbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #navbox {
    width: 98%;
    height: auto;
    margin: 0 auto;
    margin-top: 185px;
    clear: both;
    background: none;
  }
  #navcenter {
    height: 45px;
    width: 100%;
    position: relative;
    float: none;
    clear: both;
    margin: 0;
    text-align: center;
    top: 20px;
  }
  #navleft2links {
    position: relative;
    line-height: 1.2em;
    font-size: 1em;
  }
  #content {
    width: 100%;
  }
  #leftcolumn, #rightcolumn {
    width: 95%;
    float: none;
    color: #E4E6E7;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  p {
    font-size: 20px;
  }
  #leftcolumn h1, #centercolumn h1 {
    font-size: 2.2em;
    line-height: 1.2em;

  }
  #rightcolumn h2, #leftcolumn h2, #centercolumn h2 {
    font-size: 2em;
    line-height: 1.2em;
  }
  #rightcolumn {
  }
  img {
    max-width: 95% !important;
  }
  #leftcolumn h1, #centercolumn h1 {
    margin-left: 0;
  }
  .widget {
    width: 40%;
    float: left;
    margin-right: 10%;
    clear: right;
  }
  .textwidget {
    margin: 5px 0;
  }
  #wp_email_capture input.wp-email-capture-name, input.wp-email-capture-email {
    float: left;
    margin-top: 5px;
    width: 65%;
    margin-left: 2%;
  }
  label.buttons button {
    clear: both;
  }
  .entry p, .entry ul, .entry h1, .entry h2, .entry h3, .entry h4, .entry li {
    clear: both;
  }
  img.wp-post-image {
  }
  .footer1 {
    width: 100%;
    font-size: 18px;
  }
  .footer2 {
    clear: both;
    margin-top: -3px;
    float: none;
    width: 100%;
    color: #D7D7D7;
    text-align: center;
  }
  .footer3 {
    width: 100%;
    position: relative;
    margin-top: 17px;
    float: none;
    text-align: center;
    clear: both;
    display: block;
  }
  .footer4 {
    width: 100%;
    margin: 10px auto;
  }
*/
}

/** Misc **/

.tablepress.sermoninfo .column-1 {
  width: 40%;
}

.logged-in .tablepress.sermoninfo .column-1 {
  width: auto;
}

.logged-in .tablepress.sermoninfo .column-2 {
  width: 40%;
}
