/* CSS Document */
a {
  color: #D1D3D4;
}
a:hover {
  color: #f8981c;
}
#container {
  margin-top: 13px;
}
#content {
  width: 960px;
  height: 575px;
  margin-top: 13px;
  background-color: transparent;
  background-image: none;
}
/* Header */
.logotext a {
  background: url(images/logo.png) no-repeat left top;
  height: 44px;
  width: 239px;
  margin-left: 0px;
}
#logo {
  height: 44px;
  width: 239px;
}
/* Navigation */
#navright {
  height: 246px;
  top: 128px;
  width: 160px;
  left: 20px;
}
img.floatLeft {
  margin: 5px 3px 0px 0;
}
.worship a {
  color: #000000;
}
/* ---------- Featured ---------- */
#feature_wrapper {
  width: 814px;
  height: 550px;
  position: absolute;
  margin-top: 0px;
  background-image: url(images/transpframe.png);
  background-repeat: no-repeat;
  float: left;
  padding-left: 9px;
  line-height: 16px;
  padding-top: 9px;
}
.featuretitle {
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
.weekend {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: right;
  color: #000;
  z-index: 9999;
  width: 100%;
}
#feature_list {
  width: 814px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
#feature_list ul {
  position: absolute;
  top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
#tabs {
  left: 0px;
  bottom: 0px;
  z-index: 1;
}
#tabs ul {
  display: inline;
}
ol li, ul li {
  list-style-type: none;
}
#tabs li {
  font-size: 12px;
  /*text-indent: -9999px;*/
  position: relative;
  float: left;
  top: 453px;
  width: 265px;
  height: 78px;
}
#tabs li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  height: 78px;
  outline: none;
  padding: 5px;
}
#tabs li a.current:hover {
  text-decoration: none;
  cursor: default;
}
#output {
  left: 0;
  width: 796px;
  height: 453px;
  position: relative;
  z-index: 2;
}
#output li {
  position: absolute;
  margin: auto;
  width: 796px;
  height: 453px;
  background-image: url(images/divideline.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}
#fmoutput {
  left: 0;
  width: 796px;
  height: 453px;
  float: left;
}
#sgoutput {
  left: 0;
  width: 796px;
  height: 453px;
  float: left;
}
#croutput {
  left: 0;
  width: 796px;
  height: 453px;
  float: left;
}
#woutput {
  left: 0;
  width: 796px;
  height: 453px;
  float: left;
}
.links ul li a {
  /*color: #F8981C;*/
}
/* ---------- END Featured ---------- */
/* Footer */
#links {
  width: 960px;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 20px;
  clear: both;
}
p.footer {
  font-size: 0.9em;
}
#footerleft {
  width: 440px;
  height: 25px;
  float: left;
  color: #d7d7d7;
}
a.u {
  text-decoration: underline;
}
#footerleft img, #footerright img {
  vertical-align: top;
  height: 65%;
}
#footerright {
  width: 520px;
  height: 25px;
  float: right;
  text-align: right;
  color: #d7d7d7;
}
#footerright small {
  font-size: .9em;
}

#footerright p {
  margin-bottom: 5px;
}

/* Responsive Design
------------------------------------------------------------ */


/*@media only screen and (min-device-width : 320px) and (max-device-width : 959px) {

  #container {
    width: 815px;
  }
  #header {
    width: 815px;
  }
  #content {
    width: 815px;
    position: relative;
  }
  #navright {
    position: absolute;
    display: block;
    float: left;
    z-index: 99999;
    top: 8px;
    left: 8px;
    height: auto;
    width: 713px;
    padding: 15px 25px 22px 60px;
    border-top-left-radius: 74px;
    background-image: url(images/transpheaderimg.png);
  }
  .navlinks li {
    list-style-type: none;
    margin-bottom: 0;
    display: block;
    float: left;
    width: 169px;
    -webkit-text-size-adjust: 80%;
  }
  #links {
    width: 815px;
    margin-bottom: 50px;
  }
  #footerright, #footerleft {
    width: auto;
  }
  p.footer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 959px) {

  #container {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  #content {
    width: 100%;
    position: relative;
  }
  .weekend {
    bottom: 5px;
    top: auto;
  }

  #navright {
    position: absolute;
    display: block;
    float: left;
    z-index: 99999;
    top: 8px;
    left: 8px;
    height: auto;
    width: 713px;
    padding: 15px 25px 22px 60px;
    border-top-left-radius: 74px;
    background-image: url(images/transpheaderimg.png);
  }
  .navlinks li {
    list-style-type: none;
    margin-bottom: 0;
    display: block;
    float: left;
    width: 169px;
    -webkit-text-size-adjust: 80%;
  }
  #links {
    width: 100%;
    margin-bottom: 50px;
  }
  #footerright, #footerleft {
    width: auto;
  }
  p.links {
    font-size: 16px;
  }
  p.footer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 815px) {

  #container {
    width: 500px;
  }
  #header {
    width: 500px;
  }
  #content {
    width: 500px;
    position: relative;
    top: 120px;
    z-index: 1;
    height: 295px;
  }
  #feature_wrapper, #output li {
    background: none;
  }
  #output, #output li, #output li a {
    left: 0;
    width: 500px !important;
    height: auto !important;
    float: left;
  }
  #feature_wrapper, #feature_list {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
  }
  .weekend {
    bottom: 5px;
    top: auto;
  }

  #navright {
    position: absolute;
    display: block;
    float: left;
    z-index: 99999;
    top: -108px;
    left: 8px;
    height: auto;
    width: 100%;
    padding: 0;
    background: none;
  }
  .navlinks li {
    list-style-type: none;
    margin-bottom: 10px;
    display: block;
    float: right;
    width: 45%;
    -webkit-text-size-adjust: 80%;
  }
  #tabs li {
    font-size: 12px;
    position: relative;
    float: right;
    top: 293px;
    width: 265px;
    height: 86px;
  }
  #links {
    width: 250px;
    margin: 125px 0 50px 0;
    z-index: 9999;
  }
  #footerright, #footerleft {
    width: auto;
    margin-top: 13px;
  }
  p.links {
    font-size: 14px;
  }
  p.links a {
    display: block;
    font-size: 17px;
  }
  p.footer {
    font-size: 14px;
    display: block;
    text-align: center;
    width: 500px;
  }
  #footerright small {
    font-size: .9em;
    text-align: center;
    width: 500px;
    display: block;
    margin-top: 15px;
  }
  #output img {
    width: 500px;
    height: 284px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 959px) {
  #container {
    width: 500px;
  }
  #header {
    width: 500px;
  }
  #content {
    width: 500px;
    position: relative;
    top: 120px;
    z-index: 1;
    height: 295px;
  }
  #feature_wrapper, #output li {
    background: none;
  }
  #output, #output li, #output li a {
    left: 0;
    width: 500px !important;
    height: auto !important;
    float: left;
  }
  #feature_wrapper, #feature_list {
    width: 500px;
    padding-left: 0;
    padding-right: 0;
  }
  .weekend {
    bottom: 5px;
    top: auto;
  }

  #navright {
    position: absolute;
    display: block;
    float: left;
    z-index: 99999;
    top: -108px;
    left: 8px;
    height: auto;
    width: 100%;
    padding: 0;
    background: none;
  }
  .navlinks li {
    list-style-type: none;
    margin-bottom: 10px;
    display: block;
    float: right;
    width: 45%;
    -webkit-text-size-adjust: 80%;
  }
  #tabs li {
    font-size: 12px;
    position: relative;
    float: right;
    top: 293px;
    width: 265px;
    height: 86px;
  }
  #links {
    width: 250px;
    margin: 125px 0 50px 0;
    z-index: 9999;
  }
  #footerright, #footerleft {
    width: auto;
    margin-top: 13px;
  }
  p.links {
    font-size: 14px;
  }
  p.links a {
    display: block;
    font-size: 16px;
  }
  p.footer {
    font-size: 14px;
    display: block;
    text-align: center;
    width: 500px;
  }
  #footerright small {
    font-size: .9em;
    text-align: center;
    width: 500px;
    display: block;
    margin-top: 15px;
  }
  #output img {
    width: 500px;
    height: 284px;
  }
}*/